@font-face {
  font-family: "Norse";
  src: local('Norse') url("../fonts/Norse-Bold.otf");
}
:root {
  --shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow2: 2px 0px 2px rgba(0, 0, 0, 0.2);
  --shadow-lg: 2px 10px 15px 10px rgb(0 0 0 / 0.4),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --boards: rgb(31, 30, 30);
  --playerModal: rgb(51, 69, 70);
  --backgroundColor: rgb(95, 88, 88);
  --border: 1px solid rgb(255, 255, 255);
  --hit: rgb(179, 24, 24);
  --miss: rgb(34, 169, 81);
  --color: white;
}
body.light {
  --shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow2: 2px 0px 2px rgba(0, 0, 0, 0.2);
  --shadow-lg: 2px 10px 15px 10px rgb(0 0 0 / 0.4),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --boards: rgb(241, 237, 237);
  --playerModal: rgb(37, 53, 55);
  --backgroundColor: white;
  --border: 1px solid black;
  --hit: red;
  --miss: rgb(71, 254, 135);
  --color: black;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background-color: var(--backgroundColor);
  color: var(--color);
  font-family: "Norse";
}
.cell {
  font-size: 20px;
  font-weight: 900;
  color: rgb(0, 0, 0);
  border: var(--border);
  box-sizing: border-box;
  transition: background-color .2s ease-in-out;
}
.container {
  display: grid;
  justify-items: center;
  gap: 50px;
  width: 100vw;
  .title {
    padding-top: 100px;
    font-size:5em;
    font-weight: 900;
  }
  .boards {
    display: flex;
    justify-content: center;
    gap: 3em;
    flex-wrap: wrap;
    flex-shrink: 0;
  }
}
.computer {
  cursor: pointer;
  & > div#cell:hover {
    background-color: rgb(70, 187, 246);
  }
}
.board {
  display: grid;
  width: calc(20vw + 150px);
  height: calc(20vw + 150px);
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  border: var(--border);
  box-shadow: var(--shadow);
  background-color: var(--boards);
}
.playerModal {
  transform: translate(-50%, -50%) scale(0);
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--playerModal);
  gap: 30px;
  padding: 40px;
  font-size: 35px;
  border-radius: 20px;
  color: white;
  .welcome {
    font-weight: 900;
  }
  span.ship {
    text-decoration: underline;
  }
  .boardModal{
    width:calc(20vw);
    height:calc(20vw);
  }
  button {
    padding: 10px 15px;
    border-radius: 10px;
    background-color: rgb(182, 182, 32);
    font-weight: 900;
    font-size: 20px;
  }
  &.active {
    transform: translate(-50%, -50%) scale(1);
  }
}

.overlay {
  display: none;
  width: 100%; /* Full width */
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(37, 53, 55, 0.3);
  align-content: center;
  &.active {
    display: block;
  }
}
.red {
  background-color: rgb(240, 62, 13);
}
.blue {
  background-color: rgb(90, 197, 255);
}
#gray {
  background-color: gray;
}
#hit {
  background-color: var(--hit);
}
#miss {
  background-color: var(--miss);
}
.endGameModal {
  transform: translate(-50%, -50%) scale(0);
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--playerModal);
  gap: 30px;
  padding: 40px;
  font-size: 25px;
  border-radius: 20px;
  color: white;
  .welcome {
    font-weight: 900;
  }
  span.ship {
    text-decoration: underline;
  }
  button {
    padding: 10px 15px;
    border-radius: 10px;
    background-color: rgb(182, 182, 32);
    font-weight: 900;
  }
  &.active {
    transform: translate(-50%, -50%) scale(1);
  }
}
.mode {
  //im not sure why I need to put this for absolute to work.
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(36, 90, 107);
  padding: 4px;
  border-radius: 50px;
  gap: 15px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  color: white;
  .ball {
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 75%);
    padding: 15px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 0;
    transition: transform 200ms ease-in-out;
  }
  &.clicked {
    color: rgb(0, 0, 0);
    background-color: rgb(230, 230, 230);
  }
  &.clicked .ball {
    transform: translateX(43px);
  }
}
